# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# build output
/build
/dist

# misc
.DS_Store
*.pem

# env files (can opt-in for committing if needed)
.env*
!.env.example

# python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
